<form  id="form">
  <input id="text_input">
  <input type="submit">
</form>
<ul id="msg_box">
  <% @messages.each do |m| %>
    <li><%= m.message %></li>
  <% end %>
</ul>
<script>
  var dispatcher = new WebSocketRails(
      <% if Rails.env.production? %>
        "special-chat-page.herokuapp.com/websocket"
      <% else %>
        "localhost:3000/websocket"
      <% end %>
  ) //ドメインは適宜変える
  var form = $("#form");
  var text_input = $("#text_input");
  var msg_box = $("#msg_box");

  form.on("submit", function(e){
    dispatcher.trigger("send_message", { msg: text_input.val() });
    text_input.val("");
    e.preventDefault();
  });
  dispatcher.bind("spread_message", function(data) {
    var li = document.createElement("li");
    li.textContent = data.msg;
    msg_box.prepend(li);
  });
</script>
