<form id="form">
  <div class="form-group">
    <label for="text_input">message</label>
    <input id="text_input" class="form-control" placeholder="enter">
  </div>
</form>

<hr>

<ul class="list-group">
  <li class="list-group-item active">chat messages</li>
  <div id="msg_box">
    <% @messages.each do |m| %>
        <li class="list-group-item"><%= m.message %></li>
    <% end %>
  </div>
</ul>

<script>
  var dispatcher = new WebSocketRails(
      <% if Rails.env.production? %>
        "special-chat-page.herokuapp.com/websocket"
      <% else %>
        "localhost:3000/websocket"
      <% end %>
  ) //ドメインは適宜変える
  var form = $("#form");
  var text_input = $("#text_input");
  var msg_box = $("#msg_box");

  form.on("submit", function(e){
    if(text_input.val()){
      dispatcher.trigger("send_message", { msg: text_input.val() });
      text_input.val("");
    }
    e.preventDefault();
  });
  dispatcher.bind("spread_message", function(data) {
    var li = document.createElement("li");
    li.setAttribute("class", "list-group-item");
    li.textContent = data.msg;
    msg_box.prepend(li);
  });
</script>
